<!-- Header -->
<div class="container-fluid padding_0">
	<nav class="navbar navbar-default bottom_0 border_bottom padding_15_right_left" style="min-height:62px;">
		<div class="container">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="" href="#">
					<img src="./../../assets/images/simpliahead.png" class="brand-logo">
				</a>
			</div>

			<div class="navbar-collapse collapse no-transition top_10 pull-right" [attr.aria-expanded]="!isCollapsed" [ngClass]="{collapse: isCollapsed}">
				<ul class="nav navbar-nav navbar-right" style="margin-top:2px;" (click)="isCollapsed = !!isCollapsed">
					<li>
						<div dropdown>
							<button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle" aria-controls="dropdown-basic">
								{{userName}} 
								<span class="caret"></span>
							</button>
							<ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
								<li role="menuitem">
									<a class="dropdown-item" routerLink="/task">
										<i class="glyphicon glyphicon-tasks"></i>
										&nbsp; Task
									</a>
								</li>
								<li role="menuitem">
									<a class="dropdown-item" routerLink="/task/categories">
										<i class="glyphicon glyphicon-tags"></i>
										&nbsp; Categories
									</a>
								</li>
								<li role="menuitem">
									<a class="dropdown-item" routerLink="/task/user">
										<i class="glyphicon glyphicon-user"></i>
										&nbsp; Users
									</a>
								</li>
								<li role="menuitem">
									<a class="dropdown-item" routerLink="/changePassword">
										<i class="glyphicon glyphicon-lock"></i>
										&nbsp; Change password
									</a>
								</li>
								<li class="divider dropdown-divider"></li>
								<li role="menuitem" (click)="logOut()" class="cursor-pointer">
									<a class="dropdown-item">
										<i class="glyphicon glyphicon-log-out"></i>
										&nbsp; Log Out
									</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>

		</div>
	</nav>
</div>