<div class="container">
    
    <div class="col-lg-12 col-md-12 col-sm-12 ol-xs-12">
        <form class="form-signin wrapper" #changePasswordForm="ngForm" (ngSubmit)="changePasswordForm.valid && changePassword()" name="changePasswordForm" 
        novalidate>
            <div class="form-group">
                <span class="font-size14 fg-color-navy">Current Password*</span>
                <input type="password" 
                 [(ngModel)]="changePasswordData.current_password" class="form-control border-none" placeholder="Current Password" name="current_password" maxlength="20" 
                 minlength="5" (blur)="trimPasswordField()"  (keyup)="validateSpace($event, 'current_password')" #current_password="ngModel" required>
                <small [hidden]="current_password.valid || (!changePasswordForm.submitted)" class="error-text">Required (minimum five characters)  </small>
                <small *ngIf="!!invalidCurrentPassword" class="error-text"> {{ invalidCurrentPassword }}</small>
            </div>

            <div class="form-group">
            <span class="font-size14 fg-color-navy">New Password*</span>
                <input type="password"  
                [(ngModel)]="changePasswordData.new_password" class="form-control border-none" placeholder="New Password" #new_password="ngModel" name="new_password"  
                maxlength="20" minlength="5" (blur)="trimPasswordField()"  (keyup)="validateSpace($event, 'new_password')" required>
                <small [hidden]="new_password.valid || (!changePasswordForm.submitted)" class="error-text"> Required (minimum five characters) </small>
            </div>

            <div class="form-group">
            <span class="font-size14 fg-color-navy">Confirm Password*</span>
                <input type="password" 
                [(ngModel)]="changePasswordData.confirm_password" class="form-control border-none" placeholder="Confirm Password" #confirm_password="ngModel" name="confirm_password" 
                maxlength="20" minlength="5" (blur)="trimPasswordField()"  (keyup)="validateSpace($event, 'confirm_password')" required>
                <small *ngIf="!confirm_password.valid && changePasswordForm.submitted" class="error-text"> Required (minimum five characters)</small>
                <small *ngIf="passwordNotMatch && confirm_password.valid && changePasswordForm.submitted" class="error-text"> {{ errorPasswordMessage }}</small>
            </div>
            
            <div class="form-group" id="verfy-new">
                <button type="submit" class="btn-block btn btn-theme cursor-pointer border-none text-uppercase">CHANGE PASSWORD</button>
            </div>
        </form>
    </div>
  </div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>